:root {
  --main-font-size: 10px;
  --main-color: #a04955;
}


.adaptive {
  /* font-size: calc(SMALL_FONTpx + (BIG_FONTpx-SMALL_FONTpx) * ((100vw - SMALL_SCREENpx) / (PROJECT_SCREENpx - SMALL_SCREENpx))); */
  /* font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320))); */
  font-size: calc(55px+10 * ((100vw-1000px) / (1440-1000)));
}

html {
  font-size: var(--main-font-size);
  font-family: "Oswald";
}

input {
  outline: none;
}

.logo>img {
  width: 40rem;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 50;
}

.header-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 60px 0 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.navigation {
  display: flex;
  justify-content: space-around;
  flex-grow: 0.5;
}
.burger-container{
  align-self: center;
  width: 100%;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav li {
  padding: 0 1rem;
  /* flex-grow: 1; */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}

.nav li:hover {
  text-decoration: underline;
  transition: 0.7s;
}

a {
  text-decoration: none;
  color: black;
}

.search-box {
  display: flex;
  align-items: center;
  width: 60%;
  min-width: 300px;
}

.search-btn {
  /* width: 50px; */
  color: var(--main-color);
  position: relative;
  left: 40px;
  cursor: pointer;
}

#search-field {
  width: 90%;
  height: 5rem;
  border: solid 1px var(--main-color);
  border-radius: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.basket-box {
  display: flex;
  align-items: center;
  width: 15rem;
  justify-content: center;
  cursor: pointer;
}

.basket-counter {
  font-family: cursive;
  font-weight: bolder;
  font-size: 1.3rem;
  background-color: var(--main-color);
  border-radius: 50%;
  color: white;
  width: 1.7rem;
  height: 1.7rem;
  text-align: center;
  position: relative;
  right: 1.5rem;
  top: 1rem;
  padding: 2px;
}

.best {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 90px 60px 90px 60px;
  box-sizing: border-box;
}

.pants {
  flex-direction: row-reverse;
}

.about-shorts {
  width: 35%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.about-shorts p:nth-child(1) {
  font-weight: 700;
  font-size: 6rem;
  line-height: 96px;
  color: #001f3d;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.about-shorts p:nth-child(2) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  color: #000000;
  /*  margin: 0; */
}

.about-shorts p:nth-child(3) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  /* margin: 0; */
  border: 1px solid black;
  cursor: pointer;
  width: fit-content;
  padding: 10px;
}

.about-shorts p:nth-child(3):hover {
  background-color: var(--main-color);
  transition: 0.5s;
  scale: 1.1;
  border-color: white;
}

.about-shorts a:hover {
  color: white;
}

.logo-shorts {
  width: 67rem;
  height: 62rem;
  margin: auto;
  position: relative;
  margin-right: 30px;
}

.logo-shorts img {
  width: 100%;
}

.rect-empty {
  width: 52rem;
  height: 47rem;
  border: solid 1px var(--main-color);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.rect-fill {
  width: 52rem;
  height: 47rem;
  background-color: var(--main-color);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.rect-empty-right {
  width: 52rem;
  height: 47rem;
  background-color: white;
  border: solid 1px var(--main-color);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.logo-shorts div:last-child {
  z-index: 3;
  position: absolute;
  left: 80px;
  top: 35px;
}

#best-pants-img {
  z-index: 3;
  position: absolute;
  left: 20px;
  top: 5px;
}

.sale {
  background-color: #f1f1f1;
  display: flex;
  flex-flow: column;
  padding: 60px 60px 60px 60px;
}

.sale-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sale-about p {
  font-weight: 500;
  font-size: 3.6rem;
  margin: 0 0 2rem 0;
}

.sale-about p:last-child {
  font-size: 6rem;
}

.sale-products {
  display: flex;
  justify-content: space-evenly;
}

.sale-products-card, .show-products-card  {
  width: 28rem;
  /* height: 420px; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 20px;
  padding: 1rem;
  box-sizing: border-box;
}

.show-products-card{
  width: unset;
  margin: 0;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.sale-products-card-img>img,
.sale-products-card-stars>img {
  width: 100%;
}

.show-products-card-img>img{
  width: 80%;
}


.show-products-card-stars>img {
  width: 100%;
}


.sale-products-card:hover {
  scale: 1.1;
  transition: 0.3s;
}

.show-products-card:hover {
  scale: 1.05;
  transition: 0.3s;
}

.sale-products-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sale-products-card-name,.show-products-card-name {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-align: center;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale-products-price, .show-products-price {
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.show-products-color div{
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 15px 5px 10px 5px;
  cursor: pointer;
}

.show-products-color div:nth-child(1){
  background-color: #000000;
}

.show-products-color div:nth-child(2) {
  background-color: gray;
}

.show-products-color div:nth-child(3) {
  background-color: green;
}

.add-to-cart {
  width: 130px;
  height: 35px;
  background-color: var(--main-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px 0;
}

.add-to-cart>div {
  font-weight: 400;
  font-size: 1.8rem;
  cursor: pointer;
}

.about-pants {
  /* width: 50%; */
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.new-collection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 90px 60px 90px 60px;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

.new-collection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  box-sizing: border-box;
  padding: 0 1rem;
}

.new-collection-card>div {
  margin-bottom: 3rem;
}

.new-collection-img {
  position: relative;
}

.new-collection-img img {
  width: 100%;
}

.new-collection-img-description {
  font-weight: 500;
  font-size: 3.6rem;
  color: white;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 80%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.new-collection-about {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.3rem;
  text-align: center;
}

.new-collection-about+div {
  width: 32rem;
  text-align: center;
}

.to-shop-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  /* margin: 0; */
  border: 1px solid black;
  cursor: pointer;
  /* width: fit-content; */
  padding: 10px;
}

.to-shop-btn:hover {
  background-color: var(--main-color);
  transition: 0.5s;
  scale: 1.1;
  border-color: white;
  color: white;
}

.original-products {
  padding: 50px 60px 50px 60px;
  box-sizing: border-box;
  background-image: url(../img/market/bgr2.png);
  background-size: cover;
  /* background-position: bottom; */
  background-attachment: fixed;
}

.original-products-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  width: 50rem;
  align-items: flex-start;
  margin-left: 150px;
}

.original-products-name {
  font-weight: 700;
  font-size: 6.5rem;
  line-height: 9.6rem;
  color: #ffffff;
  padding-bottom: 3rem;
}

.original-products-description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #ffffff;
  padding-bottom: 3rem;
}

.original {
  color: white;
  width: fit-content;
  padding: 0.8rem 2rem;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.in-trends {
  padding: 90px 60px 90px 60px;
}

.in-trends-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--main-color);
  background-clip: content-box;
  background: linear-gradient(to bottom, var(--main-color) 64%, white 20%);
}

.in-trends-tagline {
  font-weight: 700;
  font-size: 6.5rem;
  line-height: 9.6rem;
  text-align: center;
  color: #ffffff;
  margin: 3rem 0;
  padding: 1rem;
}

.in-trends-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 90%;
}

.in-trends-card {
  background-color: white;
  border: 1px solid var(--main-color);
  padding: 0 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 2rem;
  width: 31rem;
  box-sizing: border-box;
}

.in-trends-img img {
  width: 20rem;
  height: 23rem;
}

.in-trends-card-name {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #333333;
  margin-bottom: 2rem;
  text-align: center;
}

.trends {
  color: white;
  width: 21rem;
  margin: auto;
  padding: 0.8rem 2rem;
  background-color: var(--main-color);
  border-color: var(--main-color);
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: center;
}

.card-name-wrapper {
  text-align: center;
}

.legacy{
  padding: 5rem 10rem;
}

.legacy-container {
  background-clip: content-box;
  background: linear-gradient(to bottom, white 22%, #f1f1f1 22%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.legacy-container>div{
  margin-bottom: 3rem;
}

.legacy-img>img {
  width: 100%;
}

.legacy-name {
  font-weight: 700;
  font-size: 6.5rem;
  /* line-height: 9.6rem; */
  text-align: center;
  color: #001f3d;
}

.legacy-history {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.3rem;
  text-align: center;
}

.legacy-btn{
  width: 26rem;
  text-align: center;
}

div.legacy-arrow{
  position: absolute;
    bottom: 70px;
    right: 10px;
    margin: 0;
}

.contacts-container{
  display: flex;
  padding: 5rem 6rem;
  background-color: var(--main-color);
}

.contacts{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.subscribe{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 22rem;
  margin-right: 1rem;
}


.contacts-container li {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.3rem;
  color: #FFFFFF;
  list-style: none;
  padding-bottom: 1rem;
}

.contacts-container li:first-child {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 4.3rem;
}

.sign-up{
  width: 100%;
  margin-bottom: 4rem;
}

.form>li:first-child{
  font-weight: 400;
  font-size: 1.8rem;
  width: max-content;
}

.form>li:last-child {
  position: relative;
}

#mail {
  width: 50rem;
  height: 6rem;
  font-size: 2rem;
  padding-left: 2.5rem;
  background-color: #f1f1f1;
  border: none;
}

#mail::placeholder{
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--main-color);
}

input[value="SUBSCRIBE"]{
  width: 17rem;
  height: 4.3rem;
  color: white;
  background-color: var(--main-color);
  border: none;
  position: absolute;
  right: 1rem;
  top: 0.9rem;
  cursor: pointer;
}

.copyright {
  font-weight: 400;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 1rem 0 1rem 6rem;
}



/* -------------------------CATALOG PAGE------------------------------------------- */

.main-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 200px 6rem 30px 6rem;
}

.home-navigation-container{
  display: flex;
  flex-grow: 0.1;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 2.4rem;
}

.home-navigation-container span{
  padding: 0 1rem;
}

.main-search-line{
  flex-grow: 0.88;
}

.main-search-line>input{
  width: 100%;
  font-weight: 500;
  line-height: 60px;
  font-weight: 400;
  font-size: 2.4rem;
  border: none;
  border-bottom: 1px solid #C4C4C4;
}

.main-search-line>input::placeholder{
  font-size: 5rem;
  color: #C4C4C4;
}

.products{
  display: flex;
  justify-content: space-between;
  padding: 20px 6rem 50px 6rem;
  background-color: #f1f1f1;
  position: relative;
}

.products-filter{
  flex-basis: 50%;
  min-width: 22%;
  margin-right: 2rem;
  background-color: white;
  height: fit-content;
  border: 1.5px solid #A04955;
}

.products-filter-container{
  display: flex;
  flex-direction: column;
  padding:  0 20px;
}

.filter-wrapper{
  padding: 25px 0;
  border-bottom: 1px solid var(--main-color);
}

.filter-name{
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.6rem;
  cursor: pointer;
}

.filter-parameters-size,.filter-parameters-color{
  display: flex;
  flex-wrap: wrap;
}

.size-parameter, .color-parameter{
  width: 4rem;
  height: 4rem;
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.6rem;
  text-align: center;
  margin: 1rem;
}

.size-parameter{
  background-color: #F1F1F1;
}

.color-parameter:nth-child(1){
  background-color: black;
}

.color-parameter:nth-child(2) {
  background-color: brown;
}

.color-parameter:nth-child(3) {
  background-color: blue;
}

.color-parameter:nth-child(4) {
  background-color: green;
}

.color-parameter:nth-child(5) {
  background-color: gray;
}

.color-parameter:nth-child(6) {
  background-color: orange;
}

.color-parameter:nth-child(7) {
  background-color: white;
}

.products-to-show{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  grid-auto-rows: min-content;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  background-color: #F1F1F1;
  padding: 0 60px 20px 60px;

}

.pagination div {
  width: 30px;
  height: 30px;
  border: 1px solid var(--main-color);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: #A04955;
  text-align: center;
  margin-right: 2rem;
  cursor: pointer;
}

.pagination>.pagination-selected {
  background-color: var(--main-color);
  color: #F1F1F1;
}

/* ---------------------MODAL------------------------------- */

.modal{
  z-index: 60;
  background-color: rgba(94, 89, 89, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.modal-product-about{
  box-sizing: border-box;
  padding: 2rem;
  width: 70%;
  /* height: 90%; */
  min-height: 500px;
  max-height: 90%;
  background-color: white;
  position: relative;
  display: grid;
  grid-template-areas: 
      "modal-image-main modal-product-description"
      "modal-image-secondary modal-shipping";
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-items: center;
  overflow: auto;
}


.modal-image-main {
  grid-area: modal-image-main;
  text-align: center;
}

.modal-image-main img{
  width: 75%;
}


.modal-product-description{
  grid-area: modal-product-description;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.modal-product-description>div{
  padding-bottom: 2rem;
}

.modal-product-name{
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 7.1rem;
}

.modal-product-name>span{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.modal-product-stars{
  display: flex;
  gap: 2rem;
}

.modal-product-stars>span{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.modal-product-data{
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  width: 100%;
}

.modal-product-data>div{
  padding-bottom: 2rem;
}

.modal-product-price>span{
  font-size: 2.5rem;
  font-weight: 700;
}

.color-wrapper div {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 1rem 1rem 0 0;
  cursor: pointer;
}

.color-wrapper div:nth-child(1) {
  background-color: #000000;
}

.color-wrapper div:nth-child(2) {
  background-color: gray;
}

.color-wrapper div:nth-child(3) {
  background-color: green;
}

.size-wrapper div {
  display: inline-block;
  width: 4.5rem;
  height: 3rem;
  margin: 1rem 1rem 0 0;
  border: 1px solid #C4C4C4;
  text-align: center;
  cursor: pointer;
}

.modal-product-buttons{
  width: 100%;
  display: flex;
  gap: 2rem;
}

.add-to-bag, .add-to-wishlist {
  width: 31rem;
  height: 6rem;
  background-color: var(--main-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;  
  border: 1px solid var(--main-color);
  cursor: pointer;
}

.add-to-bag>div,
.add-to-wishlist>div {
  font-weight: 400;
  font-size: 2.4rem;
}

.add-to-wishlist{
  background-color: #fff;
  color: var(--main-color);
}

.modal-product-social{
  padding: 0;
}

.modal-product-social>img{
  margin-right: 2rem;
}

.modal-image-secondary {
  grid-area: modal-image-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  gap: 2rem;
}

.modal-image-secondary>div{
  width: 130px;
  height: 130px;
  border: 1px solid #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-shipping{
  grid-area: modal-shipping;
  align-self: start;
}

.modal-shipping img {
  width: 100%;
}

.close-modal{
  position: absolute;
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--main-color);
  top: 0;
  right: 1rem;
  cursor: pointer;
}

.hide {
  display: none;
}



/* -----------------------CART PAGE--------------------------------- */
.cart-heading{
  font-size: 4rem;
  text-align: center;
}

.cart-products{
  margin: 5rem 30rem 2rem 40rem;
  background-color: #eee;
}

.cart-products-table{
  width: 100%;
  border-collapse: collapse;
}

.cart-table-head{
  background-color: #e5e5e5;
}

.cart-table-head>th{
  font-size: 1.7rem;
  padding: 1.5rem;
}

tr{
  position: relative;
}

tr:nth-child(even){
  background-color: #f5f5f5;
}

td, .cart-product div{
  font-size: 1.8rem;
  text-align: center;
}

td{
  padding: 2rem;
}

.cart-about-product{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.cart-product-description{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.cart-product-description>div{
  padding-bottom: 1.5rem;
}

.cart-product-name{
  font-size: 1.9rem;
  font-weight: 500;
  text-decoration: underline;
}

.cart-product-color{
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
  /* line-height: 3.6rem; */
  text-align: center;
  margin-left: 1rem;
  background-color: #001f3d;
  vertical-align: top;
}

.cart-product-size{
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
  /* line-height: 3.6rem; */
  text-align: center;
  margin-left: 1rem;
}

.cart-product-change{
  text-decoration: underline;
  cursor: pointer;
}

.cart-product-quantity-container div{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.cart-product-quantity{
  padding: 0 2rem;
}

div.add, div.remove{
  width: 2rem;
  height: 2rem;
  font-weight: 300;
  font-size: 1.8rem;
  border: 1px solid gray;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  cursor: pointer;
  padding: 3px;
}

.cart-product-remove{
  cursor: pointer;
  position: absolute;
  right: 15px;
}

.data-cart{
  margin: 5rem 30rem 2rem 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.data-cart>div{
    font-size: 2rem;
    border-bottom: 1px solid #e5e5e5;
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.data-cart-dicsount{
  display: flex;
  flex-direction: column;
}

.data-cart-dicsount-inputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  gap: 2rem;
}

#discount{
  font-size: 1.4rem;
  width: 70%;
  height: 3rem;
  background-color: #e5e5e5;
  border: 1px solid #abaaaa;
}

.btn-apply,
.btn-check {
  width: 25%;
  height: 3.5rem;
  background-color: var(--main-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border: 1px solid var(--main-color);
  cursor: pointer;
}

div.btn-check{
  width: 15rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}



@media (max-width: 1350px) {
  :root {
    --main-font-size: 8px;
  }
}

@media (max-width: 1150px) {
  :root {
    --main-font-size: 7px;
  }

  .products-to-show {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .modal-product-buttons {
    flex-direction: column;
    align-items: center;
  }

  .modal-product-social {
    text-align: center;
    align-self: center;
  }

  .modal-product-social img {
    width: 15%;
  }
}

@media (max-width: 960px) {
  :root {
    --main-font-size: 6px;
  }

  .logo>img {
    width: 25rem;
  }

  .products-to-show {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .modal-product-about{
    grid-template-areas:
        "modal-image-main modal-product-description"
        "modal-image-secondary modal-product-description"
        "modal-shipping modal-shipping";
  }

  .modal-shipping{
    text-align: center;
  }

  .modal-shipping img{
    width: 80%;
  }
}